body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

#container {
    margin: 2rem;

    .smileyP {
        margin: 1rem;
    }
}

img {
    margin-left: 2rem;
}

#credit {
    font-size: 1rem;
    color: #505050;
    margin: 0 5rem;

    a {
        color: #5c71b7;
    }
}

.alert {
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: white;
}

.alert-info {
    background-color: #5eb5e0;
}